@using Garage2._0.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Garage2._0.Models.Vehicle>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Parked vehicles";
    var first = new Vehicle();
}

<h2>@ViewBag.Title</h2>
<p>
    @ViewBag.Vacant
</p>
@if (ViewBag.HasVacantSpots) {
    <p>
        @Html.ActionLink("Checkin new vehicle", "Checkin")
    </p>
}

<p>
    @using (Html.BeginForm("Index", "Garage", FormMethod.Get))
    {
        <span>
            Find by registration number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            @Html.DropDownList("selectedvehicletype", new SelectList(Enum.GetNames(typeof(Vehicle.VehicleType))), "All vehicle types", htmlAttributes: new { @class = "selectStyle" })
            <input type="submit" value="Search" />
        </span>
    }
</p>
   
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => first.Type).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "type" ? "type_dec" : "type", currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => first.RegNumber).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "regnumber" ? "regnumber_dec" : "regnumber", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => first.Color).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "color" ? "color_dec" : "color", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => first.Timestamp).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "checkintime" ? "checkintime_dec" : "checkintime", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => first.ParkingSpot).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "spot" ? "spot_dec" : "spot", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpot)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Checkout", "Checkout", new { id=item.Id })
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page, orderBy = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedvehicletype = ViewBag.selectedvehicletype, selectedvehiclecolor = ViewBag.selectedvehiclecolor}))
    </p>
}