@model Garage2._0.ViewModels.ReceiptViewModel

@{
    ViewBag.Title = "Parking Receipt";
}

<div class="receipt">
    <h2>Parking Receipt</h2>

    <div>  
        <h4>Vehicle</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParkingSpot)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParkingSpot)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckinTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckinTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckoutTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckoutTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalTimeString)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalTimeString)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>

        </dl>
    </div>
    <div class="noprint">
        <p>
            <input type="button" value="Print receipt" class="btn btn-default" onclick="javascript: window.print();"/> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>