@using Garage2._0.Models
@model Garage2._0.ViewModels.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>General Statistics</h2>

<ul>
    <li>@Html.DisplayNameFor(m => m.TotalSpaceUsed): @Html.DisplayFor(m => m.TotalSpaceUsed)</li>
    <li>@Html.DisplayNameFor(m => m.TotalVehicles): @Html.DisplayFor(m => m.TotalVehicles)</li>
    <li>@Html.DisplayNameFor(m => m.TotalCost): @Html.DisplayFor(m => m.TotalCost)</li>
    <li>@Html.DisplayNameFor(m => m.TotalWheels): @Html.DisplayFor(m => m.TotalWheels)</li>
</ul>

<h2>@Html.DisplayNameFor(m => m.TypeColorStatistics)</h2>

<table class="table table-striped StatsTable">
    <tr>
        <th>@Html.DisplayNameFor(t => new Vehicle().Type)</th>
        <th>Count</th>
    </tr>
    @foreach (var item in Model.TypeStatistics)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Key)</td>
            <td>@Html.DisplayFor(m => item.Value)</td>
        </tr>
    }
</table>

<h2>@Html.DisplayNameFor(m => m.ColorStatistics)</h2>

<table class="table table-striped StatsTable">
    <tr>
        <th>@Html.DisplayNameFor(t => new Vehicle().Color)</th>
        <th>Count</th>
    </tr>
    @foreach (var item in Model.ColorStatistics)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Key)</td>
            <td>@Html.DisplayFor(m => item.Value)</td>
        </tr>
    }
</table>

<h2>@Html.DisplayNameFor(m => m.TypeColorStatistics)</h2>

<table class="table table-striped StatsTable">
    <tr>
        <th>@Html.DisplayNameFor(t => new Vehicle().Type)</th>
        @foreach (var color in Enum.GetNames(typeof(Vehicle.VehicleColor)))
        {
            <th>
                @Html.DisplayFor(t => color)
            </th>
        }
    </tr>
    @foreach (var item in Model.TypeColorStatistics)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Key)</td>
            @foreach (Vehicle.VehicleColor color in Enum.GetValues(typeof(Vehicle.VehicleColor)))
            {
                if (item.Value.ContainsKey(color))
                {
                    <td>
                        @Html.DisplayFor(t => item.Value[color])
                    </td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
</table>